<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learn.mapper.UserMapper">

    <resultMap id="userInfo" type="learn.entity.User">
        <id column="userId" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <collection property="roles" javaType="java.util.Set" resultMap="userRoles"/>
    </resultMap>

    <resultMap id="userRoles" type="learn.entity.Role">
        <id column="roleId" property="id"/>
        <result column="roleName" property="roleName"/>
    </resultMap>

    <select id="queryUserByUserName" resultMap="userInfo">
        SELECT
            u.id userId,
            u.username,
            u.password,
            r.role_name roleName
        FROM
            security_test.mooc_users u
                JOIN security_test.mooc_users_roles ur ON u.id = ur.user_id
                JOIN security_test.mooc_roles r ON ur.role_id = r.id
        where u.username = #{username}
    </select>

    <update id="updatePasswordByUserName">
        update security_test.mooc_users set password = #{u.password} where username = #{u.username}
    </update>
</mapper>